/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.FlexBox{
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 25px;
  padding: 10px;
  margin: 0px;
  position: sticky;
}
.FlexBox li{
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
}
li:hover{
  border-bottom: 3px solid black;
}
.E-commerce{
  position: absolute;
  left: 0;
  top: 18px;
  font-weight: 400;
  font-size: 20px;
  padding: 4px;
  margin-left: 4px;
  font:bolder;
}
.responsive{
  display: none;
}
.Navbar{
   margin-block-end: auto;
   width:100%;
   height: 60px;
   background-color: rgb(241, 241, 248);

}
.navbar{
  display: none;
}
.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.button{
  padding: 12px 8px;
  font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
@media (min-width:800px) and (max-width:1500px)
{
   .FlexBox {
    display: none;
   }
   .responsive{
     display: flex;
   }
   .E-COMMERCE{
      position:relative;
      font-size: 20px;
      right: 0;
      color: white;
   }
   .navbar{
     display: flex;
     position: sticky;
     width: full;
     height: 100px;
     background-color:rgb(84, 174, 204);
     box-shadow:0px 4px -4px  ;
     border-radius: 10px;
   }
   .Navbar{
     width: 0%;
     height: 0px;
   }
   .card{
     width: 60%;
     height: 75%;
   }
}
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
  font-size: 40px;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60vh;
   flex-direction: column;
   z-index: 4;
}
.card{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0px 2px -2px -4px ;
   padding: 2px;
}
.form-group input{
   width: 300px;
   padding: 5px;
}
.card {
  box-shadow: rgba(0, 0,0,0.35) 0px 5px 15px;
}
@media (max-width:798px)
{
  .FlexBox {
    display: none;
   }
   .responsive{
     display: flex;
     z-index: 8;
   }
   .E-COMMERCE{
    position:relative;
    font-size: 20px;
    right: 0;
 }
 .navbar{
   display: flex;
   position: sticky;
     width: full;
     height: 100px;
     background-color: rgb(241, 241, 248);
     box-shadow:0px 4px -4px  ;
 }
 .Navbar{
    width: 0%;
    height: 0px;
 }
.pnf-title{
    font-size: 60px;
    font-weight: 700;
}
.pnf-heading{
   font-size: 30px;
}
.image{
   padding: 20px  70px;
}
.card{
   width:70%;
   height: 125%;
   z-index: -3;
}
.form-group input{
   width: 110%;
   padding-right: 4px 8px;
}
.card-body{
   height: 150%;
}
.menu{
   z-index: -1;
}
.table1{
   width: 100%;
}
.Cart{
   z-index: -20;
}
}
